<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建mq连接工厂-->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--创建spring连接工厂-->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="connectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <!--创建spring-jmslate-->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!--监听器-->
    <bean class="com.kaishengit.SpringJmsGetTest" id="getTest"/>
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer" id="listenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destinationName" value="test"/>
        <property name="messageListener" ref="getTest"/>
    </bean>

</beans>