<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.ProductMapper">

    <select id="findById" parameterType="int" resultType="com.kaishengit.enitys.Product">
        SELECT * FROM product where id = #{id};
    </select>


    <select id="findByPage" resultMap="productAndTypeMap">
        SELECT
            *
        FROM
            product
        INNER JOIN product_type ON product.type_id = product_type.id
        ORDER BY
            product.id DESC
    </select>

    <resultMap id="productAndTypeMap" type="Product">
        <id property="id" column="id"/>
        <result property="productName" column="product_name"/>
        <result property="commentNum" column="comment_num"/>
        <result property="marketPrice" column="market_price"/>
        <result property="place" column="place"/>
        <result property="price" column="price"/>
        <result property="typeId" column="type_id"/>
        <association property="productType" javaType="ProductType">
            <result property="parentId" column="parent_id"/>
            <result property="typeName" column="type_name"/>
        </association>
    </resultMap>


    <delete id="delById" parameterType="int">
        DELETE
        FROM
            product
        WHERE
            id = #{id}
    </delete>


    <select id="findAllProductByPageNoAndQueryParam" parameterType="map" resultMap="productAndTypeMap">
        
        SELECT
            *
        FROM
            product
        INNER JOIN product_type ON product.type_id = product_type.id
        <where>
            <if test="productName != null and productName!= ''">
                product.product_name like concat('%',#{productName},'%')
            </if>
            <if test="place != null and place != ''">
                and product.place = #{place}
            </if>
            <if test="minPrice != null and minPrice != '' and minPrice != 0">
                and product.price &gt; #{minPrice}
            </if>
            <if test="maxPrice != null and maxPrice != '' and maxPrice != 0">
                and product.price &lt; #{maxPrice}
            </if>
            <if test="typeId != null and typeId != ''">
                and product.type_id = #{typeId}
            </if>
        </where>
        
        ORDER BY
            product.id DESC
        
        
    </select>
    
    
    <update id="update" parameterType="Product">
        UPDATE product
        SET product_name = #{productName},
         price = #{price},
         market_price = #{marketPrice},
         place = #{place},
         comment_num = #{commentNum},
         type_id = #{typeId}
        WHERE
            id = #{id}
    </update>

    <insert id="addProduct" parameterType="Product">
        INSERT INTO product (
            product_name,
            price,
            market_price,
            place,
            comment_num,
            type_id
        )
        VALUES
            (#{productName}, #{price}, #{marketPrice}, #{place}, #{commentNum}, #{typeId})
    </insert>

</mapper>