<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置忽略数据库的下划线和实体类中的大小写 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--设置别名-->
    <typeAliases>
        <typeAlias type="kaisheng.project.entitys.Account" alias="Account"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--数据库相关配置-->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///project"/>
                <property name="username" value="root"/>
                <property name="password" value="625255"/>
            </dataSource>
        </environment>
    </environments>

    <!--加载相关的mapper文件-->
    <mappers>
        <mapper resource="mapper/AccountMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

</configuration>